.sidebar.left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebars > .sidebar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  position: fixed;
  color: white;
  padding: 10px 10px 20px 10px;
  font-size: 14px;
  z-index: 3;
}

.b-main {
  height: 100%;
  width: 100%;
}

.b-map {
  width: 100%;
}

.b-shadow {
  display: none;
  background-color: rgba(9, 9, 9, 0.39);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.b-navigation {
  position: absolute;
}

.sidebar-card, .sidebar-search-card {
  overflow: auto;
  display: none;
  width: 400px;
  left: 0 !important;
  margin: 20px;
  background: white;
  color: black !important;
  border: 1px solid rgba(211, 211, 211, 0.5);
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  h3 {
    text-align: center;
    font-size: 20px;
    margin: 0px !important;
  }
}

.sidebar-menu {
  width: 340px;
  background: white;

}

.sidebar-menu__title {
  color: black;
}

#btnMenu {
  display: block;
  height: 100%;
  width: 100%;
}

.b-find {
  position: fixed;
  padding: 5px 10px;
  z-index: 1;
  margin: 10px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.b-find__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.b-find__btn-menu {

}

.btn-menu__pic {
  background-image: url("../images/menu.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.modal-content {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.leaflet-pane {
  z-index: 0 !important;
}

.card__icon-column {
  text-align: center;
  padding: 5px 15px;
}

.card__icon-img {
  width: 35px;
}

.card_title-wrap {
  width: 385px;
  background-color: white;
  z-index: 1;
  height: 80px;
  word-wrap: break-word;
}
.card_title {
  height: 80px;
  width: 385px;
  background-color: white;
  position: fixed;
  z-index: 3;
}
.card_title-find {
  height: 50px;
}
.card_content {
}

.card-wrap-find {
  height: 50px;
}

.card_content-find {
}

#btnMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#btnMenu div {
  height: 3px;
  width: 50%;
  margin-bottom: 5px;
  background-color: #333;
}

#js-search-fio {
  border: none;
  width: 150px;
  border-bottom: 1px solid black;
}

.js-search {
  text-decoration: none !important;
  color: black !important;
}

.js-toggle-search-options {
  margin-left: 10px;
}

.js-toggle-search-options {
  color: black;
  text-decoration: none !important;
}
.js-toggle-search-options:hover {
  color: #333;
}
.js-toggle-search-options i {
  margin-left: 3px;
}
.search-results-container {
  border-bottom: 1px solid lightgrey;
  margin: 0 !important;
  padding-bottom: 25px !important;
  padding-top: 25px !important;
}
.search-results-container:nth-child(2n) {
  background-color: #fafafa;
}

.search-results-container:nth-child(2n+1) {
  background-color: white;
}
.clearfix {
  clear: both;
}
.search-results-fio {
  margin-bottom: 10px;
}
.b-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.btn-card {
  margin: 15px;
  border:none;
  background-color: #fafafa;
  padding: 10px;
  text-transform: uppercase;
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgba(211, 211, 211, 0.4);
}
.btn-card-active {
  border: none;
  color: white;
  background-color: #4caf50;
}